<head>

    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<body style="font-size:10px;text-align: center">
    <div class="changepassword">
        <div class="changepassword-header">
            <h1>Update Password</h1>
        </div>
        <div class="changePasssword">
            <form action="changePassword" method="post">
                <h3>Enter Your Email Id:</h3>
                <input type="email" placeholder="Email Id" name="email" required /><br>
                <h3>Enter OTP:</h3>
                <input type="OTP" placeholder="Enter OTP" name="code" required /><br>
                <h3>Choose Password:</h3>
                <input type="password" placeholder="Enter password" name="password" required /><br>
                <br>

                <input type="submit" value="changePassword" class="changePasword-button" />
                <br>

                <h6 class="no-access">Can't access your account?</h6>
            </form>
        </div>
    </div>


</body>