<head>
    <script language="javascript" type="text/javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

    </script>


    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<body style="font-size:10px;text-align: center;">
    <div class="Forgot">
        <div class="forgot-header">
            <h1>Are You Sure For Delete Your Account......!</h1>
            <br>
        </div>
        <div class="forgot">
            <form action="/delete" method="post">
                <br>
                <h3>If Yes Then Enter Your Email Id:</h3>
                <br>
                <input type="email" placeholder="Email Id" name="email" required /><br>
                <br>

                <input type="submit" value="Delete Account" class="forgot-button" />

                <br>
                >
            </form>
        </div>
    </div>
</body>