<head>
    <script language="javascript" type="text/javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

    </script>

    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<body style="font-size:30px;text-align: center;">
    <div class="email-Verification">
        <div class="forgot-header">
            <h1>Email-Verification</h1>
            <br>
        </div>
        <div class="email-Verification">
            <form action="/email-Verification" method="post">
                <br>
                <h3>Enter OTP:</h3>
                <input type="otp" placeholder="Enter OTP" name="code" required /><br>
                <br>

                <input type="submit" value="Verify" class="email-Verification-button" />


            </form>
            <form method="post" action="/resend">
                <p>
                    <button type="submit">resend otp</button>
                </p>
            </form>
        </div>





</body>