<head>
    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="email-Verification2">
    <div class="forgot-header">
        <h1>Email-Verification</h1>

    </div>
    <div class="email-Verification2">
        <form action="/email-Verification2" method="post">
            <h3>Enter OTP:</h3>
            <input type="otp" placeholder="Enter OTP" name="code" required /><br>
            <br>

            <input type="submit" value="Verify" class="email-Verification2-button" />


        </form>
    </div>
</div>