<head>
    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="Forgot">
    <div class="forgot-header">
        <h1>Forgot Password</h1>
    </div>
    <div class="forgot">
        <form action="/forgot" method="post">
            <h3>Enter Your Email Id:</h3>
            <input type="email" placeholder="Email Id" name="email" required /><br>
            <br>

            <input type="submit" value="Send OTP" class="forgot-button" />

            <br>
            <h6 class="no-access">Can't access your account?</h6>
        </form>
    </div>
</div>