<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <br>

    <br>
    <a href="registration">Registration page</a>
    <br>
    <br>
    <a href="login">Login Page</a>
    <br>
    <br>
    <a href="logout">Logout Page</a>
    <br>
    <br>
    <a href="secret">Secret Page</a>
    <br>

    <br>
    <a href="update">Update User</a>
    <br>
</body>

</html>