<!DOCTYPE html>

<head>
    <script language="javascript" type="text/javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

    </script>

</head>

<body style="font-size:20px;text-align: center;">
    <br>
    <H1>Something Went Wrong</H1>
    <br>
    <a href="index">Back To Home Page</a>

</body>