<head>
    <script language="javascript" type="text/javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

    </script>

    <link rel="stylesheet" href="../css/style.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
    <div class="login-header">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form action="/login" method="post">
            <h3>Email Id:</h3>
            <input type="email" placeholder="Email Id" name="email" required /><br>
            <h3>Password:</h3>
            <input type="password" placeholder="Password" name="password" required />
            <br>
            <input type="submit" value="Login" class="login-button" />
            <br>
            <a href="registration" class="sign-up">Sign Up!</a>
            <br>
            <a href="forgot" class="sign-up">Forgot-Password</a>

        </form>
    </div>
</div>
<div class="error-page">
    <div class="try-again">Error: Try again?</div>
</div>
</body>